@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

p {
  color: black;
  font-size: 1rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

header {
  flex: 1;
  flex-direction: row;
  background-color: #FFF900;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom-width: 0.5px;
  border-bottom-color: black;
  display: flex;
  overflow: hidden;
}

header img {
  width: 8rem;
  height: 8rem;
  align-self: center;
  position: relative;
  left: 2%;
  z-index: 1;
  border-radius: 5rem;
  opacity: 0.2;
}

main {
  width: 100%;
  flex: 5;
  display: flex;
  justify-content: center;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2rem;
  overflow-y: auto;
}

main article, main section {
  width: 80%;
  display: flex;
  flex-direction: column;
}

main article section {
  padding: 1%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section.welcome {
  justify-content: space-around;
  margin-bottom: 2rem;
}

footer {
  flex: 0.5;
  background-color: #FFF900;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  border-top-width: 0.5px;
  border-top-color: black;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

footer nav {
  flex: 1;
  justify-content: center;
}

footer nav .footer-link {
  margin: 2%;
}

/* this is the only time we use this */
.header-link {
  align-self: center;
}

.header-link:hover h1 {
  color:  rgb(91, 91, 227);
}

h1 {
  color:  rgb(28, 28, 206);
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-stroke: 0.05px white;
  display: inline-block;
  flex: 3;
  text-align: center;
  align-self: center;
  z-index: 2;
}

h2 {
  font-size: 3rem;
  color: black;
  display: block;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

nav {
  display: flex;
  flex: 5;
  align-self: center;
  justify-content: space-around;
}

header nav {
  justify-content: right;
}

nav button, .link {
  background-color: rgb(28, 28, 206);
  color: white;
  padding: 0.33rem 1rem;
  border-radius: 1rem;
  margin: 1rem;
  width: fit-content;
}

.toggle-button {
  color: white;
  padding: 0.33rem 1rem;
  border-radius: 1rem;
  margin: 1rem;
  width: fit-content;
}

.toggle-button:hover {
  background-color: rgb(91, 91, 227);
}

.active-orders {
  background-color: rgb(255, 0, 0);
}

.suspended-orders {
  background-color: rgb(9, 133, 9);
} 

.link:hover {
  background-color: rgb(91, 91, 227);
}

input, select {
  padding-left: 1rem;
}

form {
  padding: 1.5rem;
  border-radius: 2rem;
}

p.error {
  color: rgb(255, 0, 0);
}

p.success {
  color: rgb(9, 133, 9);
}

dialog {
  display: none;
}

dialog.visible {
  display: block;
}

.all-reset {
  all: unset;
}

.item:hover {
  background-color: rgb(91, 91, 227);
  cursor: pointer;
}

.profile-icon {
  color: black;
  width: 2rem;
  height: 2rem;
}

.profile-icon:hover {
  cursor: pointer;
  background-color: rgb(91, 91, 227);
  border-radius: 3rem;
}

.profile-link {
  display: flex;
  align-items: center;
}

.panel {
  overflow-y: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.panel:not(:last-child) {
  border-right: 1px solid blue;
}

/* set the default dark styles here */
@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --foreground-rgb:#FFF900;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  .profile-icon {
    color: white;
  }

  header {
    background-color: rgb(11, 11, 40);
    border-bottom-color: #FFF900;
  }

  footer {
    background-color:  rgb(11, 11, 40);
    border-top-color: #FFF900;
  }

  footer nav .footer-link {
    color: white;
  }

  main {
    background-color:  rgb(27, 27, 43);
  }

  h1 {
    -webkit-text-stroke: 0.05px #FFF900;
  }

  h2, h3 {
    color: #FFF900;
  }

  p {
    color: white;
  }

  header img {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
  }

  label {
    color: #FFF900;
  }

  input, select {
    background-color: rgb(92, 92, 92);
    color: white;
  }

  form {
    background-color: gray;
  }
  
  p.error {
    color: rgb(207, 49, 49);
  }

  .active-orders {
    background-color: rgb(207, 49, 49);;
  }

  ::-webkit-scrollbar {
    background-color: rgb(73, 73, 73);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(91, 91, 227);
    border-radius: 10px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
